
<div class="container">
        <header>
          <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Los Angeles</h4>
                    <p class="text-muted" style="color: lightgray !important">is the new capital of ART.
                    Sea and sunshine, an international Mecca for young and seasoned 
                    artists and art lovers of all walks. Browse this site to visit a gallery, or exhibition.</p> 
                    <p style="color: lightgray !important">Or visit <scan id="behold_link" {% if request.path == 'behold' %} class="active" {% endif %}> 
                        <a href="{% url 'behold' %}">BEHOLD!</a></scan> to bid on the art pieces. <br/>Going once, going twice, and sold to ...<p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                  <h4 class="text-white">Contact</h4>
                  <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Follow on Twitter</a></li>
                    <li><a href="#" class="text-white">Like on Facebook</a></li>
                    <li><a href="#" class="text-white">Email me</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex">
              <a href="{% url 'home'%}" class="navbar-brand d-flex align-items-center">
                <strong>LA ART INFO</strong>
              </a>
              <ul class="access">
                  
                  <li><span class="navbar-text reg both"><a href="">Sign Up!</a></span></li>
                  <li><span class="navbar-text both"><a href="">Log In</a></span></li>
                  
              </ul>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
        </header>
    </div>